
.catalog {
  display: flex;
  flex-wrap: wrap;
  /* outline: 1px solid black; */
  border-bottom: 1px solid black;
  justify-content: left;
  height: fit-content;
  width: fit-content;
  background-color: white;
  margin-top: -1px;
  margin-left: -1px;

}

.catalog .shop-item {
  flex: 1 1 230px;
  margin-top: 1px;
  margin-left: 1px;
  position: relative;
  justify-content: center;
  text-align: center;
  align-self: center;
  padding: 1px;
  font-family: Arial, Helvetica, sans-serif;

}

