/* /* .modal {
  display: block;
  position:fixed;
  z-index: 1;
  background-color: rbga(0, 0, 0, 0.25);
  height: 100%;
  width: 100%;
} */
.expanded-shop-item {
  padding-top: 20px;
  margin: 10px;
}

.expanded-item-title {
  text-align: left;
}

.expanded-shop-item-image {
  height: 70vh;
  width: 70vh;
  margin: 3vh;
}

.modal-content {
  display: inline-flex;
  flex: wrap;
}

.expanded-shop-info {
  padding-left: 5vh;
}

.back-to-shop {
  position: absolute;
  left: 2%;
  bottom: 10%;
}

.expanded-item-rating {
  padding-top: 1rem;
  padding-bottom: .7rem;
  font-size: smaller;
}

.expanded-item-price {
  font-size: larger;

  padding-bottom: 1rem;
}