/* /* .modal {
  display: block;
  position:fixed;
  z-index: 1;
  background-color: rbga(0, 0, 0, 0.25);
  height: 100%;
  width: 100%;
} */


.expanded-shop-item-image {
  height: 50vh;
  width: 50vh;
}