.nav-bar {
  list-style-type: none;
  width: 90%;
  display: flex;
  justify-content: space-around;
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  height: 9vh;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 120 120;
  z-index: 8;


}

#nav-icon {
  height: 8vh;
  position: absolute;
  left: 0%;
}


a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}


