.nav-bar {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  height: 2rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 120 120;

}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}


