.shop-item-image {
  width: 180px;
  height: 180px;
  object-fit: contain;
  padding-top: 9px;
  z-index: 1;
  position: relative;
}

.shop-item {
  padding: 3px;
  width: 260px;
  height: 370px;
  object-fit: contain;
  outline: 1px solid gray;
  position: relative;
}


.img-box {
  /* display: inline-block; */
  overflow: hidden !important;
  justify-content: center;
  align-self: center;
}

.img-box img {
  transition: .3s ease-in-out;
}

.img-box:hover img {
  opacity: 0.8;
  filter: alpha(opacity=30);
  transform: scale(1.08);
}

.item-price {
  text-align: auto;
  font-size: 110%;
  color: #b12704;
}

.shop-content {
  margin: 0 auto;
  height: auto;
  padding-bottom: 30px;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .3rem;
}

.item-price, .img-box, .item-title {
  padding-top: 5px;
}

.item-title {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;

}

.item-rating {
  position: absolute;
  bottom: 0px;
  text-align: center;
  padding-bottom: .7rem;
}
