.shopping-cart-catalog {
  color: black;
  display: flex;
  border: 1px black;
  height: 65vh;
  width: 100vh;
  margin: 0 -5px;
}

.shopping-cart-image {
  height: 10vh;
  width: 10vh;
}

.shopping-cart-item {
  border: 1px black;
  height: 14vh;
  width: 14vh;
  margin: 0 3vh;

}

.priceTotal {
  position: absolute;

}

.hover-shopping-cart {
  background-color: beige;
  z-index: 9;
  position: relative;
}