.shop-item-image {
  width: 180px;
  height: 180px;
}

.shop-item {
  align-self:left;
}

.img-box {
  display: inline-block;
  overflow: hidden !important;
}

.img-box img {
  transition: .3s ease-in-out;
}

.img-box:hover img {
  opacity: 0.8;
  filter: alpha(opacity=30);
  transform: scale(1.08);
}


