.star {

  color: yellow;
  position: relative;
  bottom: 0;
}

.half-star {
  position: relative;
  bottom: 0;
  font-size: 0;
  height: 15%;
  width: 15%;
}

svg {
  vertical-align:top;
  position: relative;
  bottom: 0;
}
